*~
*.swp
*.o
*.la
*.lo
*.log
*.trs
.deps
.libs
GPATH
GRTAGS
GSYMS
GTAGS
INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/libmendeleev.pc
/stamp-h1
/*.sublime-*
src/mendeleev-version.h
/.tags
/.tags1
